# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv

# Database
*.db
*.sqlite3

# Uploads
uploads/*
!uploads/.gitkeep

# ML Models & cached files
ml/models/*.keras
ml/models/*.pkl
ml/models/*.json

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Environment variables
.env

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/
